<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>

        <title>OSK Kursant</title>
        <meta name="description" content="Konto instruktora"/>

    <th:block th:include="panel/css" />


</head>

<body>

    <!--Sidebar-->
<th:block th:include="panel/sidebar" />

<!-- Right Panel -->
<div id="right-panel" class="right-panel">

    <!--Header-->
    <th:block th:include="panel/header" />
    <!-- /#header -->

    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Nawigacja</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="main">Strona główna</a></li>
                                <li class="active">Profil</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Content -->

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title mb-3">Profil kursanta</strong>
                        </div>
                        <div class="card-body">
                            <div class="mx-auto d-block">
                                <img class="rounded-circle mx-auto d-block" src="/images/avatar/user.png" alt="Card image cap"/>
                                <h5 class="text-sm-center mt-2 mb-1" th:text="${employee.firstName +' '+ employee.lastName}"></h5>
                                <div class="location text-sm-center"><i class="fa fa-map-marker"></i><span th:value="${employee.city}" th:text="${' ' + employee.city + ', Polska'}"></span></div>
                            </div>
                            <hr/>
                            <!--<div class="card-text text-sm-center">
                                <a href="#"><i class="fa fa-facebook pr-1"></i></a>
                                <a href="#"><i class="fa fa-twitter pr-1"></i></a>
                                <a href="#"><i class="fa fa-linkedin pr-1"></i></a>
                                <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                            </div>-->
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title mb-3">Dane użytkownika</strong>
                        </div>
                        <div class="card-body card-block">
                            <form action="#" method="post" class="form-horizontal">
                                <div class="row form-group">
                                    <div class="col col-md-12">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-user"></i></div>
                                            <input type="text" id="input1-group1" th:value="${user.login}" placeholder="Username" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-12">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-email"></i></div>
                                            <input type="email" id="input3-group1" th:value="${user.email}" placeholder="Email" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <div class="card" style="min-height: 468px">
                        <div class="card-header"><strong>Dane osobowe</strong></div>
                        <div class="card-body card-block">
                            <div class="form-group"><label for="company" class=" form-control-label">Imię i nazwisko</label><input type="text" th:value="${employee.firstName +' '+ employee.lastName}" class="form-control"/></div>
                            <div class="form-group"><label for="street" class=" form-control-label">Ulica</label><input type="text" th:value="${employee.street}" class="form-control"/></div>
                            <div class="form-group"><label for="city" class=" form-control-label">Miasto</label><input type="text" th:value="${employee.city}" class="form-control"/></div>
                            <div class="form-group"><label for="postal-code" class=" form-control-label">Kod pocztowy</label><input type="text" th:value="${employee.zipCode}" class="form-control"/></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="height-180">
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- /.content -->
        <div class="clearfix"></div>
        <!-- Footer -->
        <th:block th:include="panel/footer" />

    
</div>
<!-- /#right-panel -->
<!-- Scripts -->
<th:block th:include="panel/js" />
</body>
</html>

